@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");

.projectDescriptionRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectDescriptionHeader {
  font-size: 1.25em;
  color: #03c4a1;
}

.projectDescriptionHeaderAndParagraph {
  width: 100%;
  padding: 1.25em;
  margin: 1.25em;
  font-family: "Acme";
  text-align: center;
}

.projectDescriptionParagraph {
  padding-top: 1em;
  margin-top: 0em;
  font-size: 0.9375em;
  color: #726a95;
}

.projectDescritionkImg {
  width: 100%;
  padding: 1.25em;
  padding-left: 0em;
  margin: 1.25em;
  margin-left: 0em;
}
