@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.25em;
  color: #03c4a1;
}

.projectDescription {
  width: 100%;
  height: auto;
  padding: 1.25em;
  margin: 1.25em;
  font-family: "Acme";
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

p {
  padding-top: 0em;
  margin-top: 0em;
  font-size: 0.9375em;
  color: #726a95;
}

.teamWorkImg {
  width: 100%;
  padding: 1.25em;
  padding-left: 0em;
  margin: 1.25em;
  margin-left: 0em;
}
