.logInBtn {
  background-color: #c62a88;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  height: 3em;
  width: 10.88em;
  justify-content: center;
}

.purpleElemLogin {
  color: #590995;
  border-color: #590995;
}

.greenElemLogin {
  color: #03c4a1;
}

.neumorphism {
  border-radius: 1em;
  background: #f8f8f8;
  box-shadow: 0.5em 0.5em 1em #c62a88, -0.25em -0.25em 0.25em #590995;
  border: none;
}

.loginBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
