.profileImg {
  border-radius: 15%;
  width: 50%;
  margin-top: 2em;
  background: #590995;
  box-shadow: 0.5em 0.5em 0.5em #350559, -0.5em -1em 1em #7d0dd1;
}

.nameSurnameTxt {
  margin-top: 4em;
  display: flex;
  align-items: center;
}

.userNameTxt {
  width: 50%;
  margin-top: 2em;
}
.userJobCity {
  width: 50%;
}

.infoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
