.successStoriesContaier {
  font-family: "Acme";
  margin-top: 10em;
}

.successTitle {
  color: #c62a88;
  margin-bottom: 1em;
  font-size: 1.8em;
}
.successParagraph {
  color: #c62a88;
  margin-bottom: 1em;
  font-size: 1.4em;
}
.successStoriesCardTitle {
  color: #590995;
  font-size: 1em;
}
.postsSuccessStories {
  justify-content: center;
  align-items: center;
}
