.biographyTitle {
  margin-top: 0.75em;
  margin-left: 1.2em;
  color: #03c4a1;
}

.biographyContainer {
  width: 54em;
}

.biographyContent {
  width: 50em;
  margin-top: 2em;
  color: #590995;
  height: 21em;
  margin-left: 2em;
  border: solid 0.25em #c62a88;
  border-radius: 1em;
  background: #ffffff;
  box-shadow: 1em 1em 1em #a1a1a1, -1em -1em 1em #ffffff;
}

.bioText {
  width: 45em;
  margin-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
