@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");

.footer {
  font-family: "Acme";
  background: #590995;
  color: white;
  width: "100%";
  font-size: 14px;
  height: 14em;
}

/* .address {
  margin-top: 6em;
  margin-left: 4em;
  align-items: right;
} */

.mainRow {
  align-items: center;
}

/* .phone {
  margin-top: 6em;
} */

/* .email {
  margin-top: 6em;
} */

.menu {
  margin-left: 4em;
  margin-top: 3.8em;
}

.logo {
  margin-right: 1em;
}

.menuItems {
  margin-top: 1em;
}

.name {
  margin-bottom: 2em;
  margin-left: 14em;
  font-size: 22px;
}

.footerIcons {
  display: flex;
  padding: 5px;
  justify-content: center;
  height: 3em;
  margin-right: 1.5em;
}

.contact {
  margin-top: 4.45em;
  margin-left: 4em;
}
