.teamSection {
  color: #03c4a1;
  text-align: center;
  margin: 0.5em 0;
}
.teamParagraph {
  color: #726a95;
  margin: 2em 0;
}
.teamMembers{
  display: flex;
  margin-bottom: 6em;
}
.aboutTeamImg {
  width: 40%;
  margin: 2em 0;
}
.ourTeamSectionOne{
  text-align: center;
}